
.chatRoomContainer {
    padding: 20px;
}

.side-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #3e3d3e;
    padding: 30px;
    overflow: auto;
}

.side-menu a {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-menu strong {
    font-size: 2em;
}

.chat {
    height: 500px;
    width: 100%;
    background-color: #444444;
    overflow: auto;
    color: whitesmoke;
}

.inputContainer {
    padding: 10px;
    width: 100%;
    background-color: black;
}

.inputContainer form {
    display: flex;
}

.inputContainer form input {
    margin: 10px;
}

.message {
    margin-right: 50px;
    margin-left: 270px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.message header {
    width: 90px;
    overflow-wrap: break-word;
}

.message p {
    width: 70%;
}

.message header, footer, p{
    margin-right: 20px;
}

.addRoom {
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    height: 100%;
    top: 0;
    display: flex;
    background-color: rgba(0,0,0,0.7);
}

.addRoom form{
    width: 30%;
    margin: auto;
    padding: 15px;
    background-color: mediumpurple;
    border-radius: 8px;
}

#closeForm {
    font-size: 1.7em;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.hide{
    display: none;
}

.btn-primary{
    cursor: pointer;
}


@media only screen and (max-width : 900px) {
    .message p {
        width: 90%;
    }
    .message header, footer, p {
        margin-right: 5px;
    }
    .message {
        margin-right: 10px;
        margin-left: 10px;
    }
    .side-menu {
        padding: 15px;
        position: initial;
        height: 200px;
    }
    .side-menu a {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .inputContainer {
        padding: 10px;
    }
    .addRoom form {
        width: 80%;
    }
}

