
@section Styles{ 
    <link rel="stylesheet" href="~/css/chat.css" />
}
<div class="chatRoomContainer">
    <div class="side-menu">
        <button class="btn btn-info">Room 1</button>
        <button class="btn btn-info">Room 2</button>
    </div>

    <div class="chat">
        <div class="message">
            <header><b>Stefan:</b></header>
            <p>Some text Some text Some text </p>
            <footer><b>@DateTime.Now.ToString("MMMM-dd, hh:mm tt")</b></footer>
        </div>

        <div class="message">
            <header><b>Stefan:</b></header>
            <p>Some text Some text Some text </p>
            <footer><b>@DateTime.Now.ToString("MMMM-dd, hh:mm tt")</b></footer>
        </div>

        <div class="message">
            <header><b>Stefan:</b></header>
            <p>Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text </p>
            <footer><b>@DateTime.Now.ToString("MMMM-dd, hh:mm tt")</b></footer>
        </div>

    </div>

    <div class="inputContainer">
        <form>
            <input class="form-control"/>
            <input type="submit" class="btn btn-success" value="Send"/>
        </form>
    </div>
</div>
