@model SchoolManagement.ViewModels.AccountDetailsModel
@{
    ViewData["Title"] = "Account Details";
}

<h1>Account Details</h1>

<div class="container">
    <p>Id: @Model.UserId</p>
    <p>UserName: @Model.UserName</p>
    <p>Email: @Model.Email</p>
</div>