@model SchoolManagement.ViewModels.ExamViewModel

<div class="container">
    <br />
    <h3>Schedule exam</h3>
    <hr />

    <div class="col-md-6">
        <form asp-action="CreateExam" method="post">
            <label>Select subject</label>
            <input hidden name="classroomId" value="@Model.ClassroomId" />
            <select class="form-control" name="subjectTitle">
                @foreach (var subject in Model.SubjectTitles)
                {
                    <option value="@subject">@subject</option>
                }
            </select>
            <span></span>
            <br />
            <label name="examDate">Exam start</label>
            <input class="form-control" name="examDate" type="datetime-local"/>
            <br />
            <label name="examEnd">Exam end</label>
            <input class="form-control" name="examEnd" type="datetime-local"/>
            <br />
            <input class="btn btn-primary" type="submit" value="Add" />
        </form>
    </div>
    
</div>

@section Scripts{ 
    <script src="~/js/exam.js"></script>
}